
<div class="container mt-5">
    <div class="row" *ngIf="produto">
        <div class="col-6">
            <img src="{{produto.imgUrl}}" alt="{{produto.nome}}" class="img-fluid w-100">
        </div>
        <div class="col-6">
            <h3>{{produto.nome}}</h3>
            <p style="font-size: 1.3em;" >{{produto.preco | currency: 'BRL'}}</p>
            <div class="d-flex justify-content-start align-items-center">
                <i (click)="decrementQuantidade()" class="fa fa-minus-circle mr-2" style="cursor: pointer; font-size: 1.5em; color: orange;"></i>
                <span class="font-weight-bold" style="font-size: 1.5em;">{{quantidade}}</span>
                <i (click)="incrementQuantidade()" class="fa fa-plus-circle mx-2" style="cursor: pointer; font-size: 1.5em; color: orange;"></i>
                <button (click)="addItemCesta()" class="btn btn-outline-primary btn-lb ml-4">Adicionar ao carrinho</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 ml-3">
                <h4>Descrição</h4>
                <p>{{produto.descricao}}</p>
            </div>
        </div>
    </div>
</div>