<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Resumo do pedido
</div>

<div class="p-4">
    <p class="font-italic mb4">Os custos de envio serão adicionados dependendo das escolhas feitas durante a finalização da compra</p>
    <ul class="list-unstyled mb-4" *ngIf="(cestaTotal$ | async)"></ul>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Subtotal</strong>
            <strong>{{(cestaTotal$|async).subtotal | currency: 'BRL'}}</strong>
        </li>    
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Frete</strong>
            <strong>{{(cestaTotal$|async).entrega | currency: 'BRL'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total do pedido</strong>
            <strong>{{(cestaTotal$|async).total | currency: 'BRL'}}</strong>
        </li>
</div>