<br><br><br><br><br>
<carousel>
    <slide>
        <img src="assets/images/Img1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/Img2.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/Img3.jpeg" alt="first slide" style="display: block; height: 380px; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/Img4.jpeg" alt="first slide" style="display: block; height: 380px; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/Img5.jpeg" alt="first slide" style="display: block; height: 380px; width: 100%;">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <div class="container">
            <h1>Quem Somos?</h1> 
        
            <p>A A&A Online Shopping é uma empresa multinacional de tecnologia com sede em São Paulo. A companhia hoje se concentra no e-commerce como uma de suas principais plataformas.</p>
            <p>Dessa forma é considerada uma das maiores empresas Brasil, sendo uma das maiores vendedoras virtual Nacional </p>
        
            <H2>Nossos Valores</H2>
        
            <p>Democratização do comércio e os serviços eletrônicos onlines como forma de transformar a vida de milhões de pessoas na América Latina.</p>
            <br>
        
            <H2>Contatos</H2>
        
            <H2>(61)984416450</H2>
            <h6>Siga-nos nas redes sociais e fique por dentro de todas as nossas promoções e descontos imperdíveis</h6>
            <div align="center" class="container">
                <a href="http://facebook.com" target="_blank">
                    <img [src]= "face" width="50" alt="">
                </a>
                <a href="http://instagram.com" target="_blank">
                    <img [src]= "inst"width="55" alt="">
                </a>
                <a href="http://twitter.com" target="_blank">
                    <img [src]= "tt" width="60"alt="">
                </a>
            </div>
        </div>
    </div>
    <br>
</section>

